.scroll-view.short {
    min-width: 320px;
    margin: 0 auto;
    background: #eee;

    .scroll-content {
        .list-item {
            height: 8px;

            &.has-title {
                font-size: 18px;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                color: #222;
            }
        }
    }
}
