{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": [
            1,
            2
        ],
        "linebreak-style": [
            1,
            "unix"
        ],
        "quotes": [
            1,
            "double"
        ],
        "semi": [
            1,
            "always"
        ],
        "no-console": 1
    }
}