.scroll-view.horizontal {
  margin: 0;
  height: 230px;
  background: #fff; }
  .scroll-view.horizontal .scroll-content {
    padding: 0;
    margin: 0;
    font-size: 0; }
    .scroll-view.horizontal .scroll-content .content,
    .scroll-view.horizontal .scroll-content .paddingBefore,
    .scroll-view.horizontal .scroll-content .paddingAfter {
      display: inline-block; }
    .scroll-view.horizontal .scroll-content .content {
      margin: 0;
      font-size: 0; }
      .scroll-view.horizontal .scroll-content .content .page {
        display: inline-block;
        height: 210px; }
      .scroll-view.horizontal .scroll-content .content .grid-item {
        display: inline-block;
        height: 210px;
        width: 210px;
        background-color: #f0f0f0;
        margin: 0 4px; }
        .scroll-view.horizontal .scroll-content .content .grid-item .image-holder {
          height: 190px;
          width: 190px;
          overflow: hidden;
          position: relative;
          margin: 10px; }
          .scroll-view.horizontal .scroll-content .content .grid-item .image-holder .image {
            position: absolute;
            left: auto;
            top: 0;
            right: auto;
            bottom: 0;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 50%;
            opacity: 0;
            transition: opacity .7s; }
