.scroll-view.table {
  min-width: 320px;
  margin: 0 auto;
  background: #eee; }
  .scroll-view.table .scroll-content .page {
    display: table;
    width: 100%; }
  .scroll-view.table .scroll-content .page.odd {
    background-color: #eceff1; }
    .scroll-view.table .scroll-content .page.odd .list-item > div {
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 1px solid rgba(0, 0, 0, 0.11); }
      .scroll-view.table .scroll-content .page.odd .list-item > div:first-child {
        color: rgba(0, 0, 0, 0.54); }
  .scroll-view.table .scroll-content .page.even {
    background-color: #263238; }
    .scroll-view.table .scroll-content .page.even .list-item > div {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.17); }
      .scroll-view.table .scroll-content .page.even .list-item > div:first-child {
        color: rgba(255, 255, 255, 0.7); }
  .scroll-view.table .scroll-content .list-item {
    width: 100%;
    display: table-row; }
    .scroll-view.table .scroll-content .list-item > div {
      display: table-cell;
      vertical-align: top;
      padding: 8px 16px;
      min-height: 1em;
      width: 90%; }
      .scroll-view.table .scroll-content .list-item > div:first-child {
        color: #aaa;
        width: 10%;
        text-align: right; }
